*{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
}

.one,.three,.five{
	padding-bottom: 50%;
}
.one{
	background: url("../img/chanpjs/gsjj1.jpg") no-repeat;
	background-attachment: fixed;
	/*	background-size: 100%;*/
}
.three{
	background: url("../img/chanpjs/gsjj2.jpg") no-repeat;
	background-attachment: fixed;
	/*	background-size: 100%;*/
}
.five{
	background: url("../img/chanpjs/gsjj3.jpg") no-repeat;
	background-attachment: fixed;
	/*	background-size: 100%;*/
}
.two,.four,.six{
	padding-top: 6%;
	text-align: center;
	font-size:16px;
	padding-bottom: 7%;
	font-weight: bold;
	line-height: 187%;
}
.one,.two,.three,.four,.five{	
	width:100%;
	
}
.twelve,.thirteen{
	width:100%;
	position: relative;
	overflow: hidden;
	
}
.twelve .img1{
	width: 110%;
	display: block;
}
.twelve_center,.thirteen_center{
	
	position: absolute;
	top:0;
	width:80%;
    left:50%;
    transform: translateX(-50%);
    padding-top:2%;
    font-family: "微软雅黑";
}
.twelve_center{
	padding-top: 6%;
	text-align: center;
}
.twelve_center p{
	 width:100%;
	 text-align: center;	
	  font-size: 27px;
	  color:white;
}
.twelve_center .p2{
	margin-top: 1%;
}
.twelve_center div{
  text-align: center;
   padding:1%;
  background:#c31b26;	
  color:white;
  width:20%;
  margin-left: 40%;
  margin-top: 2%;
}
.thirteen{
	padding-bottom:22%;
	position: relative;
}
.thirteen_center{
	padding-top:21%;
}
.thirteen_center p{
	color:#c31b26;
	font-size:19px;
	position: absolute;
	left:-2%;
	top:15%;
}
.thirteen_center div{
	position: absolute;
	left:2%;
	top:44%;
	 font-size: 14px;
	 color:rgb(146,123,114);
}
.thirteen_center div span{
	color:#c31b26;
}
.thirteen_center ul{
	list-style: none;
	position: absolute;
	left:56%;
	top:21%;
	font-size:14px;
	color:rgb(146,123,114);	
}
.thirteen_center .ul2{
	left:68%;
}
.thirteen_center .ul3{
	left:81%;
}
.thirteen_center ul li{
	line-height:160%;
}
.thirteen_center ul .li1{
	margin-bottom: 18%;
	color:black;
	font-size:15px;
}

@media only screen and (max-width: 1000px){

.two, .four, .six{
	font-size:13px;
}
.thirteen_center ul{
	top:4%;
}
}

@media only screen and (max-width: 970px){
	.twelve_center p{
		font-size: 21px;
	}
	.thirteen_center{
		padding-top: 11%;
	}
}
@media only screen and (max-width: 869px){

	.twelve_center, .thirteen_center{
		width:95%;
	}
	.twelve_center p{
		font-size: 17px;
	}
	.twelve_center{
		padding-top: 4%;
	}
	.thirteen_center ul{
		font-size: 12px;
	}
	.thirteen_center ul .li1{
		font-size: 13px;
	}

	.thirteen_center p{
		font-size: 15px;
	}
	.thirteen_center div{
		left:-1%;
			top:42%;
			width:46%;
			font-size: 12px;
	}
  .thirteen_center .ul1 .lili, .thirteen_center .ul2 .lili{
  	display: none;
  }
  .thirteen_center ul{
  	left:52%;
  }
  .thirteen_center .ul3{
  	left:85%;
  }
}

@media only screen and (max-width: 652px){
	.twelve_center div{
		font-size: 13px;
	}
}
@media only screen and (max-width: 550px){
	.one{
			background-size:100%;
		padding-left: 1%;
		padding-right: 1%;
		font-size: 12px;
	}
	.two,.four,.six{
		width:96%;
       padding-left: 4%;
		padding-right:1%;
		font-size: 12px;
		}
	
}
@media only screen and (max-width: 530px){
	
	.thirteen_center div{
		top:55%;
	}
	.thirteen{
		padding-bottom: 65%;
	}
	.thirteen_center ul{
		top:333%;
	}
	.thirteen_center .ul1{
		left:24%;
	}
	.thirteen_center .ul2{
		left:40%;
	}
	.thirteen_center .ul3{
		left:55%;
	}
	.thirteen_center p{
		left:2%;
	}
	.thirteen_center div{
		left:20%;
	}
	.thirteen_center div{
		width:63%;
	}
	.twelve_center p{
		font-size: 13px;
	}
	.twelve_center div{
		font-size: 12px;
	}
	.twelve_center div{
		width:20%;
		margin-left:35%;
	}
	.twelve_center{
		padding-top: 2%;
	}
	.twelve_center div{
  	width:29%;
  	margin-top: 1%;
  }
}
@media only screen and (max-width: 434px){

  .thirteen_center div{
  	width:88%;
  }
  .thirteen_center .ul1{
  	left:21%;
  }
  .thirteen_center .ul2{
  	left:46%;
  }
  .thirteen_center .ul3{
  	left:68%;
  }
  .thirteen{
  	padding-bottom: 68%;
  }
  
}